<div style="width: 25%; display: inline-block;">
    <h4>Register</h4>
    <div>
        <label>Email:</label>
        <br />
        <input type="text" [(ngModel)]="model.SignUp.Email" />
        <br /><br />
        <label>Password:</label>
        <br />
        <input type="password" [(ngModel)]="model.SignUp.Password" />
        <br /><br />
        <input type="button" value="Signup" (click)="SignUp()" />
    </div>
</div>
<div style="width: 25%; display: inline-block;">
    <h4>Login</h4>
    <div>
        <label>Email:</label>
        <br />
        <input type="text" [(ngModel)]="model.SignIn.Email" />
        <br /><br />
        <label>Password:</label>
        <br />
        <input type="password" [(ngModel)]="model.SignIn.Password" />
        <br /><br />
        <input type="button" value="Sign In" (click)="SignIn()" />
    </div>
</div>
<div style="width: 25%; display: inline-block;">
    <h4>Sign Out</h4>
    <div>
        <input type="button" value="Sign Out" (click)="SignOut()" />
    </div>
</div>

<div style="width: 25%; display: inline-block;">
    <h4>Get Logged in User</h4>
    <div>
        <input type="button" value="Get Logged In User Email" (click)="GetLoggedInUserEmail()" />
        <br>
        <label>{{loggedInUser}}</label>
    </div>
</div>

<hr>
<div style="width: 25%; display: inline-block;">
    <h4>Add Employee</h4>
    <div>
        <input type="text" [(ngModel)]="model.NewEmployee.Name" />
        <br><br />
        <input type="button" value="Create Employee" (click)="AddEmployee()" />
    </div>
</div>

<div style="width: 25%; display: inline-block;">
    <h4>Employee List</h4>
    <div>
        <input type="button" value="Get Employees" (click)="GetEmployees()" />
        <ol *ngIf="employees && employees.length">
            <li *ngFor="let emp of employees">{{emp.EmployeeName}}</li>
        </ol>
        <br><br />
        
    </div>
</div>


<div style="width: 25%; display: inline-block;">
    <h4>Upload Image</h4>
    <div>
        <input type="file" placeholder="Select file" (change)="fileChanged($event)">
        
        <br><br />
        <input type="button" value="Upload File" (click)="UploadImage()" />
        
    </div>
</div>

<div style="width: 25%; display: inline-block;">
    <h4>Get Images</h4>
    <div>
        <input type="button" value="Get Images" (click)="GetImages()" />
        <ol *ngIf="allImages && allImages.length">
            <li *ngFor="let img of allImages">{{img}}</li>
        </ol>
    </div>
</div>